---
layout: sites/cv
---


{% include "components/cv-header.njk" %}

<div class="main">
    {%- for section in collections.cvSections -%}
        {%- if section.data.collectionTag -%}
            {% include "components/section/timeline-collection.njk" %}
        {%- else -%}
            {% include "components/section/raw.njk" %}
        {%- endif -%}
    {%- endfor -%}
</div>


{% if environment.isDev %}
    <!-- print preview - like -->
    <style>
        @media only screen {
            html, body {
                width: 210mm;
                border: black 1px solid;
            }
        }
    </style>
{% endif %}
