---
layout: sites/about
---

{% include "components/hero.njk" %}

{% include "components/menu.njk" %}

<section class="content">

  {%- for section in collections.aboutSections -%}
    {%- if section.data.collectionTag -%}
      {% include "components/section/collection.njk" %}
    {%- else -%}
      {% include "components/section/raw.njk" %}
    {%- endif -%}
  {%- endfor -%}

</section>
