@use "sass:math"

@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten

$_fontSize: 12px
$_horizontalPaddingFactor: 0.7
$_transitionTime: 0.4s
$_backgroundColor: rgba(darken(rgb($textColor), 15%), .5)

.button
    position: relative
    padding: $_fontSize * $_horizontalPaddingFactor $_fontSize * 2

    font-size: $_fontSize
    color: $textColor
    text-decoration: none
    cursor: pointer

    outline: none
    border-width: 3px
    border-style: solid
    border-image: linear-gradient(40deg, $_backgroundColor 42%, transparent 60%) 10 stretch

    color: rgb($textColor)
    background-color: transparent
    white-space: nowrap

    i
        margin-right: 7px

    .hover-text
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 100%
        padding: #{$_fontSize * $_horizontalPaddingFactor} 0

        font-size: $_fontSize
        text-align: center
        box-sizing: border-box

        opacity: 0

        transition: opacity $_transitionTime * 0.5 ease

    &::before
        content: ""

        position: absolute
        left: 0
        top: 0
        width: 0
        height: 100%

        background-image: linear-gradient(40deg, $_backgroundColor 42%, transparent 60%)

        transition: all $_transitionTime ease

    &:hover::before, &:active::before
        width: 100%

    &:hover, &:active,
    &:hover *, &:active *
        color: transparent

    &:hover .hover-text, &:active .hover-text
        width: 100%
        opacity: 1
        color: rgb($textColor)

        transition-duration: $_transitionTime * 1.5
        transition-delay: $_transitionTime * 0.5

/** multiple buttons together */
.button-group
    display: flex
    flex-direction: row
    flex-wrap: wrap

    .button:not(:last-child)
        margin-right: c.$gap

    &.is-large
        justify-content: center
        margin-right: 0

        .button
            padding: #{$_fontSize * 1.25 * $_horizontalPaddingFactor} #{$_fontSize * 1.25 * 2}
            $width: 10ex
            flex: 0 0 $width
            max-width: $width

            font-size: $_fontSize * 1.25
            margin: 0 math.div(c.$gap, 2) #{c.$gap} math.div(c.$gap, 2)

            .hover-text
                padding: $_fontSize * 1.25 * $_horizontalPaddingFactor 0
                font-size: $_fontSize * 1.25
