@use "sass:math"

@use '../constants' as c

    
#cv-header
    background-color: rgb(c.$darkerGray)

    display: grid

    grid-template-columns: 40% auto
    grid-gap: c.$gap

    padding: 1cm #{c.$gap * 2} 0.5cm

    color: rgb(c.$lightGray)

    #heading
        & > *
            --shade: #{c.$forest}
            --alt-text-color: #{c.$lightGray}

            margin: 0
            padding: 0

        #name
            font-size: 40px
            color: rgb(c.$forest)

        .heading-gradient::after
            border-color: rgb(c.$darkerGray)


    #infos
        display: flex
        flex-direction: column
        align-items: flex-end

        & > *
            padding-top: math.div(c.$gap, 4)

        span
            & > *:not(:first-child)
                padding-left: #{c.$gap}

        a
            color: rgb(c.$lightGray)
            text-decoration: none
