@use "sass:math"

@use '../constants' as c


/* general layout */
.entry
    display: grid
    grid-template-columns: 30% auto // image details
    grid-template-rows: 45px auto auto auto // header info description keywords

    grid-gap: c.$gap

    margin-bottom: c.$gap * 2

    .image-container
        grid-column: 1 / span 1
        grid-row: 1 / -1

        max-width: 350px

    .header
        align-self: center

    .description
        justify-self: center

    .keywords
        grid-column: 2


/** styling of parts */
.entry

    .header
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        align-content: center

        .title
            padding-right: c.$gap
            margin-right: auto // pushes buttons to the right if they are on the same flexbox line

            font-size: 30px
        
        *
            margin: 4px 0
        
    .info
        font-size: 80%

    .description
        max-width: 120ex

        p
            margin: 0

    /** image */
    .image-toggle
        display: none
        &:not(:checked) ~ .image-container .image-fullscreen
            display: none

    .image-container .image-preview
        height: 100%

    .image-fullscreen
        z-index: 2000
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh

        background-color: rgba(rgb(c.$darkerGray), .8)

        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        &::after
            position: fixed
            right: c.$gap
            top: c.$gap
            
            content: 'X'
            cursor: pointer

        .image-fullscreen-content
            width: calc(100vw - #{c.$gap * 4})
            height: calc(100vh - #{c.$gap * 4})

            @media screen and (max-width: c.$smallScreenBreakpoint)
                width: calc(100vw - #{c.$gap})
                height: calc(100vh - #{c.$gap})

            background-image: var(--image-url)
            background-size: contain
            background-repeat: no-repeat
            background-position: center center

    .image-preview
        &, &::after
            background-image: var(--image-url)
            background-size: cover
            background-position: center center
            clip-path: polygon(2% 0%, 100% 0, 95% 100%, 0% 100%)

        &::after
            content: ""

            display: inline-block
            width: 100%
            height: 100%

            $bgGradient1:  linear-gradient(100deg, rgba(black, .2) 42%, rgba(var(--shade) / .4) 90%)
            $bgGradient2:  linear-gradient(160deg, rgba(black,  0) 42%, rgba(var(--shade) / .2) 100%)
            background-image: $bgGradient1, $bgGradient2
            
            background-blend-mode: multiply


/** adaptions for other components */
.entry

    .keywords
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center

        .keywords-prefix
            margin: 7px math.div(c.$gap, 1.5)
            
        .keyword:not(:last-child)
            margin-right: math.div(c.$gap, 2)

    .button
        box-sizing: border-box
        width: 120px


/* screen size specific layout */
@media screen and (min-width: calc(350px * 3 + #{c.$gap} * 2))
    // big screens - increase gaps and lock image at max height
    .entry
        grid-template-columns: 350px auto

@media screen and (max-width: calc(250px * 3 + #{c.$gap} * 2))
    // small screen - move image into header
    .entry
        grid-template-columns: 150px auto
        grid-template-rows: auto auto auto

        .image-container, .header, .info, .description, .keywords
            grid-column: 1 / span 2
            justify-self: center

        .image-container
            grid-row: 1 / span 1
            height: 20ex
            width: 100%
            justify-self: center

            .image-preview
                &, &::after
                    clip-path: polygon(5% 0%, 100% 0, 95% 100%, 0% 100%)

        .header
            grid-row: 2 / span 1
            .title
                width: 100%
                text-align: center
                padding-right: 0
            .button-group
                width: 100%
                justify-content: space-evenly
                .button
                    margin-right: 0

        .info, .description, .keywords
            margin: 0
            justify-self: center
