@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten


$_titleColor: rgba(var(--alt-text-color, $textColor) / 0.9)


h1, h2
	margin-top: 0
	margin-bottom: c.$gap


.heading-pointer
	position: relative

	color: $_titleColor

	&::before
		content: ""
		position: absolute
		left: -1 * c.$gap
		top: 2px

		display: inline-block
		width: c.$gap * 5
		height: 1em
		
		background: linear-gradient(90deg, rgba(var(--shade) / .3) 17%, rgba(var(--shade) / .05) 90%, transparent)
		clip-path: polygon(3% 0%, 80% 0, 100% 50%, 80% 100%, 0% 100%)


.heading-gradient
	color: transparent
	-webkit-background-clip: text
	background-clip: text
	background-image: linear-gradient(110deg, $_titleColor 0%, rgba(var(--shade) / .9) 70%)
