@use "sass:math"

@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten

#hero::before
    content: ""

    position: absolute
    top: 0

    height: 100vh
    width: 100%

    background-color: rgb(c.$veryDark)

#hero::after
    content: ""

    position: absolute
    top: 0

    height: 100vh
    width: 100%

    background-image: linear-gradient(70deg, rgba(rgb(c.$forest), .6) 0%, rgba(rgb(c.$monokaiGreen), .5) 100%)

    $maskStop1: rgba(0, 0, 0, 1) 0%
    $maskStop2: rgba(0, 0, 0, .9) 90%
    $maskStop3: rgba(0, 0, 0, 0) 100%
    $maskGradient: linear-gradient(180deg, $maskStop1, $maskStop2, $maskStop3)
    mask-image: $maskGradient
    -webkit-mask-image: $maskGradient

    animation: fade-in 1s ease-out
    @keyframes fade-in
        0%
            opacity: 0.2
        100%
            opacity: 1

#hero
    height: 100vh
    width: 100%

    color: lighten(rgb($textColor), 5%)

    display: flex
    flex-direction: column
    justify-content: center

    position: relative
    z-index: 1100

    & > *
        z-index: 1200

    #heading, #scroll-hint
        flex: 0 0 auto

    #heading, .button-group
        animation: fade-in-up 1s ease-out
        animation-delay: 0.25s
        animation-fill-mode: both
        @keyframes fade-in-up
            0%
                transform: translateY(100px)
                opacity: 0
            100%
                transform: translateY(0px)
                opacity: 1

    .spacer
        flex: 1 0 auto

    #heading
        display: flex
        flex-direction: row
        align-items: baseline
        justify-content: center
        align-content: center

        .no-break
            display: flex
            margin-right: 2ex

            align-items: center

        .name
            font-size: 200%

        .symbol
            font-size: 200%
            font-family: Arial // more prominent style
            font-weight: bolder
            color: rgb(c.$monokaiRed)

            &:not(:last-child)
                margin-right: 1ex

            &.only-mobile
                display: none

        .tagline
            font-size: 200%
            color: rgb(c.$monokaiLightYellow)

            max-width: 30ex

    @media screen and (max-width: c.$smallScreenBreakpoint)
        #heading
            align-self: center

            flex-direction: column

            margin-left: 2ex

            .no-break:not(:last-child)
                margin-bottom: #{c.$gap * 0.5}

            .name
                font-size: 130%
                &:first-child
                    padding-bottom: 0.1ex
                    padding-right: 0.1ex
            .symbol
                font-size: 120%
                &:nth-child(1)
                    margin-left: 1ex
                &.only-mobile
                    display: block
            .tagline
                font-size: 120%

        .button-group.is-large .button
            margin-bottom: #{c.$gap * 0.5}

    #scroll-hint
        $size: 25px
        height: $size * 3

        display: flex
        flex-direction: column
        align-items: center

        padding-bottom: calc(10vh + #{c.$gap})

        @keyframes scrollfade
            0%
                opacity: 0
            20%
                opacity: 0.5
            40%
                opacity: 1
            60%
                opacity: 0.5
            80%
                opacity: 0
            100%
                opacity: 0

        span
            display: inline-block

            width: $size
            height: $size

            border-left: 1px solid #efefef
            border-bottom: 1px solid #efefef
            transform: rotate(-45deg)

            opacity: 0

            animation: scrollfade 4s
            animation-iteration-count: infinite

        $initialDelay: 2s
        span:nth-child(1)
            animation-delay: $initialDelay
        span:nth-child(2)
            animation-delay: $initialDelay + 0.5s
        span:nth-child(3)
            animation-delay: $initialDelay + 1s
