@use "sass:math"

@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten


$_extraPadding: 7px

.keyword
    display: flex
    flex-direction: row
    align-items: center

    margin-right: c.$gap
    padding: $_extraPadding
    margin-bottom: math.div(c.$gap, 2)

    background-image: linear-gradient(75deg, rgba(var(--color) / .25) 50%, transparent 90%)
    

    > *
        padding-right: math.div(c.$gap, 4)

    img
        $size: 21px
        max-width: $size
        height: auto
        max-height: $size

    .keyword-explanation
        white-space: nowrap
        overflow: hidden


@media (hover: hover) 
    /* if the user is able to hover, show the details only on hover */
    .keyword
        &, *
            transition: all 0.5s ease

        &:not(:hover)
            margin-right: 0
            padding: $_extraPadding 0
            background-image: none

            > *
                padding-right: 0

            .keyword-explanation
                max-width: 0

        &:hover .keyword-explanation
            max-width: 100px
            color: $textColor
