@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten


@media (hover: hover)
    #menu-mobile
        display: none !important

@media (hover: none)
    #menu-desktop
        display: none !important


$_bgColor: rgba(rgb(c.$darkerGray), .97)


#menu-desktop, #menu-mobile
    .menu-link
        text-decoration: none
        color: rgb($textColor)


#menu-desktop
    z-index: 1000

    position: fixed
    top: 0

    width: calc(100% - #{c.$gap * 2})
    padding: c.$gap

    background-color: $_bgColor

    display: flex
    flex-direction: row
    justify-content: center

    transition: all calc(0.3s) ease

    .menu-link:not(:last-child)
        padding-right: c.$gap

    &:not(:hover)
        opacity: 0.6

        *
            opacity: 0.7


#menu-mobile-toggle-checkbox
    display: none

    &:not(:checked) ~ label #menu-mobile-overlay
        display: none

#menu-mobile-button
    z-index: 2100

    position: fixed
    bottom: 0
    right: 0

    padding: c.$gap
    padding-left: c.$gap * 1.5

    background: rgba(rgb(c.$darkerGray), .7)
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%)

    transition: all 0.25s

    display: flex
    flex-direction: column

    $lineHeight: 3px
    $lineWidth: 25px

    span
        width: $lineWidth
        height: $lineHeight
        background-color: rgb(c.$mediumGray)

        transition: all 0.5s
        opacity: 1
        transform: rotate(0deg)

    span:not(:last-child)
        margin-bottom: $lineHeight * 2

#menu-mobile-toggle-checkbox:checked ~ label #menu-mobile-button
    background: transparent

    span:nth-child(1)
        transform: rotate(-45deg)
        transform-origin: center right
    span:nth-child(2)
        opacity: 0
    span:nth-child(3)
        transform: rotate(45deg)
        transform-origin: center right

#menu-mobile-overlay
    z-index: 2000

    position: fixed
    top: 0
    left: 0

    width: 100vw
    height: 100vh

    background-color: $_bgColor

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .menu-link
        font-size: 142%

        &:not(:last-child)
            margin-bottom: c.$gap
