@use "sass:math"

@use '../constants' as c

    
.timeline-entry
    $baseDateColumnWidth: 8ex

    display: grid
    grid-template-columns: $baseDateColumnWidth auto
    grid-column-gap: c.$gap

    .date
        grid-column: 1
        grid-row: 1 / span 2
    .title, .info, .organisation, .description
        grid-column: 2
        margin-bottom: math.div(c.$gap, 4)

    &:not(:last-child)
        margin-bottom: math.div(c.$gap, 2)

    .date
        font-size: 14px
        text-align: right

    .title
        font-size: 21px

    .info
        font-size: 16px
    
    .organisation
        display: grid
        grid-template-columns: 10ex auto
        grid-template-rows: auto auto
        grid-column-gap: math.div(c.$gap, 2)

        font-size: 14px

        .organisation-image
            grid-column: 1
            grid-row: 1 / -1
        .organisation-name, .organisation-info
            grid-column: 2

        .organisation-image
            place-self: center
            object-fit: cover
            width: 100%
            max-height: 100%

        .organisation-info
            opacity: 0.7

    &.sub-entry
        grid-template-columns: $baseDateColumnWidth * 1.5 auto

        .title
            font-size: 18px
