@use '../constants' as c


:root
	--monokai-red: #{c.$monokaiRed}
	--monokai-orange: #{c.$monokaiOrange}
	--monokai-yellow: #{c.$monokaiYellow}
	--monokai-light-yellow: #{c.$monokaiLightYellow}
	--monokai-green: #{c.$monokaiGreen}
	--monokai-blue: #{c.$monokaiBlue}
	--monokai-violet: #{c.$monokaiViolet}
	--monokai-dark: #{c.$monokaiDark}
	--forest: #{c.$forest}
