/** adapted, minimal Line-Awesome css */
@font-face
  font-family: LA
  src: url("/resources/fonts/la.woff2") format("woff2"), url("/resources/fonts/la.ttf") format("truetype")
  font-style: normal
  font-weight: 900
  font-display: swap
@font-face
  font-family: LAB
  src: url("/resources/fonts/la-brands.woff2") format("woff2"), url("/resources/fonts/la-brands.ttf") format("truetype")
  font-style: normal
  font-weight: 400
  font-display: swap

.la
  font-family: LA
  font-weight: 900

.lab
  font-family: LAB
  font-weight: 400

.la, .lab
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  display: inline-block
  font-style: normal
  font-variant: normal
  text-rendering: auto
  line-height: 1

.la-external-link:before
  content: "\f35d"

.la-code:before
  content: "\f121"

.la-cubes:before
  content: "\f1b3"

.la-message:before
  content: "\f7cd"

.la-image:before
  content: "\f03e"

.la-calendar:before
  content: "\f133"

.la-mail:before
  content: "\f658"

.la-globe:before
  content: "\f7a2"

.la-phone:before
  content: "\f2a0"

.lab-gitlab:before
  content: "\f296"

.lab-github:before
  content: "\f09b"

.lab-discord:before
  content: "\f392"

.la-gamepad:before
  content: "\f11b"

.lab-xing:before
  content: "\f168"

.lab-linked-in:before
  content: "\f0e1"

.lab-mastodon:before
  content: "\f4f6"

.lab-instagram:before
  content: "\f16d"
