@use '../constants' as c

	
*
	$scrollBackgroundColor: rgb(c.$veryDark)
	$scrollThumbColor: rgb(c.$darkGray)

	scrollbar-width: thin
	scrollbar-color: $scrollThumbColor $scrollBackgroundColor

	&::-webkit-scrollbar
		width: 7px
	&::-webkit-scrollbar-track
		background: $scrollBackgroundColor
	&::-webkit-scrollbar-thumb
		background-color: $scrollThumbColor
		border-radius: 6px
		border: 3px solid $scrollBackgroundColor
