@use '../constants' as c
$textColor: 0 0 0 !default // to be overwritten


@font-face
	font-family: main
	src: url('/resources/fonts/SignikaNegative-Light.ttf') format('truetype')
	// provided from http://ancymonic.com/projects/Signika
	font-style: normal
	font-weight: normal
	font-display: swap

body
	color: rgb($textColor)
	font-family: main, Arial, Helvetica, sans-serif
	font-size: 18px

	::selection
		background-color: rgba(var(--shade, c.$forest) / 0.3)

p
	text-align: justify
	font-size: 20px

	@media screen and ( max-width: c.$smallScreenBreakpoint )
		font-size: 15px
