@use "sass:math"

@use '../constants' as c
    
    
ul
    margin: 0
    list-style-type: none

    li
        position: relative

        &::before
            $width: 17px

            position: absolute
            left: -1 * ($width + math.div(c.$gap, 4))
            top: 7px
        
            display: inline-block
            content: ""
            width: $width
            height: 1ex

            background: linear-gradient(90deg, rgba(var(--shade) / .5) 20%, rgba(var(--shade) / .2) 90%)
            clip-path: polygon(3% 0%, 66% 0, 100% 50%, 66% 100%, 0% 100%)
            