<div id="cv-header">
	<div id="heading">
		<h1 id="name">
			Luca Vazzano
		</h1>
		<div id="tagline">
			Software Developer and<br>Technology Enthusiast
		</div>
	</div>

	<div id="infos">
        <span>
            <i class="la la-globe"></i> {% if secrets.location %}{{ secrets.location }}, {% endif %}Germany
        </span>
		<span>
			{% if secrets.mail %}
				<a href="mailto:{{ secrets.mail }}">
					<i class="la la-mail"></i> {{ secrets.mail }}
				</a>
			{% endif %}
			{% if secrets.phone %}
				<a href="tel:{{ secrets.phone | replace(' ', '') }}">
					<i class="la la-phone"></i> {{ secrets.phone }}
				</a>
			{% endif %}
		</span>
		<span>
			<a href="https://gitlab.com/LucaVazz/" target="_blank" rel="noopener">
				<i class="lab lab-gitlab"></i> LucaVazz
			</a>
			<a href="https://github.com/LucaVazz/" target="_blank" rel="noopener">
				<i class="lab lab-github"></i> LucaVazz
			</a>
			<a href="https://www.xing.com/profile/Luca_Vazzano/" target="_blank" rel="noopener">
				<i class="lab lab-xing"></i> Luca_Vazzano
			</a>
		</span>
		<a href="https://about-me.lucavazzano.eu/" target="_blank" rel="noopener">
			<i class="la la-external-link"></i> about-me.lucavazzano.eu
		</a>
	</div>
</div>
