<div class="entry">
    {% set imgToggleId = 'img-toggle-' + entry.fileSlug %}
    {% if r/^http.*/g.test(entry.data.image) %}
        {% set imageUrl = entry.data.image %}
    {% else %}
        {% set imageUrl = '/resources/images/' + entry.data.image %}
    {% endif %}

    <input class="image-toggle" type="checkbox" id="{{ imgToggleId }}">
    <label for="{{ imgToggleId }}" class="image-container" style="--image-url: url({{ imageUrl }});">
        <div class="image-preview"></div>
        <div class="image-fullscreen">
            <div class="image-fullscreen-content"></div>
        </div>
    </label>

    <div class="header">
        <h2 class="heading-gradient title">{{ entry.data.title }}</h2>
        {% if entry.data.git or entry.data.web %}
            <div class="button-group">
                {% if entry.data.git %}
                <a class="button" href="{{ entry.data.git }}" target="_blank" rel="noopener">
                    <span><i class="la la-code"></i> Source</span>
                    <span class="hover-text">view Source Code</span>
                </a>
                {% endif %}
                {% if entry.data.web %}
                <a class="button" href="{{ entry.data.web }}" target="_blank" rel="noopener">
                    <span><i class="la la-external-link"></i> open</span>
                    <span class="hover-text">open Web-App</span>
                </a>
                {% endif %}
                {% if entry.data.webGame %}
                <a class="button" href="{{ entry.data.webGame }}" target="_blank" rel="noopener">
                    <span><i class="la la-external-link"></i> play</span>
                    <span class="hover-text">play online</span>
                </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if section.data.dateDescription %}
        <div class="info">
            <i class="la la-calendar"></i>
            {{ section.data.dateDescription }}
            {{ entry.date.toLocaleString('en', { month: 'long' }) }} {{ entry.date.getFullYear() }}
        </div>
    {% endif %}
    <div class="description">
        {{ entry.templateContent | safe }}
    </div>
    <div class="keywords">
        <div class="keywords-prefix">
            made with
        </div>
        {% for k in entry.data.keywords %}
            {% keyword k %}
        {% endfor %}
    </div>
</div>
