<div id="hero">

	<div class="spacer"></div>

	<div id="heading">
		<div class="no-break">
			<div class="name">
				LucaVazzano
			</div>
			<div class="symbol" aria-hidden="true">:</div>
		</div>
		<div class="no-break">
			<div class="symbol only-mobile" aria-hidden="true">
				|
			</div>
			<div class="tagline">
				'web dev'
			</div>
		</div>
		<div class="no-break">
			<div class="symbol" aria-hidden="true">
				|
			</div>
			<div class="tagline">
				'game dev'
			</div>
		</div>
		<div class="no-break">
			<div class="symbol" aria-hidden="true">
				|
			</div>
			<div class="tagline">
				'maker'
			</div>
			<div class="name">
				&nbsp;;
			</div>
		</div>
	</div>

	<div class="spacer"></div>

	<div class="button-group is-large">
		<a class="button" href="https://gitlab.com/LucaVazz/" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-gitlab"></i> GitLab</span>
			<span class="hover-text">view more code</span>
		</a>
		<a class="button" href="https://github.com/LucaVazz/" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-github"></i> GitHub</span>
			<span class="hover-text">view more code</span>
		</a>
		<a class="button" href="https://ldjam.com/users/lucavazz/games" target="_blank" rel="noopener">
			<span>
				<i class="la la-gamepad"></i> LudumDare</span>
			<span class="hover-text">see all my entries</span>
		</a>
		<a class="button" href="https://www.instagram.com/lucavazzig/" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-instagram"></i> Instagram</span>
			<span class="hover-text">see my photography</span>
		</a>
	</div>
	<div class="button-group is-large">
		<a class="button" href="https://discordapp.com/users/159302763564498944" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-discord"></i>Discord</span>
			<span class="hover-text">chat via Discord</span>
		</a>
		<a class="button" rel="me" href="https://mastodon.gamedev.place/@LucaVazz" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-mastodon"></i> Mastodon</span>
			<span class="hover-text">read my posts</span>
		</a>
		<a class="button" href="https://www.xing.com/profile/Luca_Vazzano/" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-xing"></i> Xing</span>
			<span class="hover-text">connect with me</span>
		</a>
		<a class="button" href="https://www.linkedin.com/in/lucavazz/" target="_blank" rel="noopener">
			<span>
				<i class="lab lab-linked-in"></i> LinkedIn</span>
			<span class="hover-text">connect with me</span>
		</a>
	</div>

	<div class="spacer"></div>

	<div id="scroll-hint">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>