{% macro menuContent() %}
    {%- for section in collections.aboutSections -%}
        <a class="menu-link" href="#{{ section.data.title | slug }}">{{ section.data.title | title }}</a>
    {%- endfor -%}
{% endmacro %}

<div id="menu-desktop">
    {{ menuContent() }}
</div>

<div id="menu-mobile">
    <input type="checkbox" id="menu-mobile-toggle-checkbox">
    <label for="menu-mobile-toggle-checkbox" class="image-container">
        <div id="menu-mobile-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="menu-mobile-overlay">
            {{ menuContent() }}
        </div>
    </label>
</div>

{# we need to close the menu via JS as following the link takes precedence over toggeling the checkbox #}
<script>
    const mobileMenuCheckbox = document.getElementById('menu-mobile-toggle-checkbox')
    const menuLinks = document.getElementsByClassName('menu-link')
    for (let elem of menuLinks) {
        elem.onclick = function hideMobileMenu() { mobileMenuCheckbox.checked = false }
    }
</script>
