<div class="timeline-entry {% if entry.data.subentry %}sub-entry{% endif %}">
    <div class="date">
        {% macro formatDate(date) %}
            {% set month = date.getMonth() + 1 %}
            {% if month < 10 %}0{% endif %}{{ month }}.{{ date.getFullYear() }} 
        {% endmacro %}

        {% if entry.data.startDate %}
            {{ formatDate(entry.data.startDate) }}
        {% else %}
            {{ formatDate(entry.data.date) }}
        {% endif %}
        to
        {% if entry.data.endDate %}
            {{ formatDate(entry.data.endDate) }}
        {% else %}
            Present
        {% endif %}
    </div>

    <h2 class="title">{{ entry.data.title }}</h2>
    {% if entry.data.info %}
        <div class="info">{{ entry.data.info }}</div>
    {% endif %}

    {% if not entry.data.subentry %}
        <div class="organisation">
            <img class="organisation-image" src="{{ '/resources/images/' + entry.data.orgImage }}"/>
            <span class="organisation-name">{{ entry.data.orgName }}</span>
            {% if entry.data.orgInfo %}
                <span class="organisation-info">{{ entry.data.orgInfo }}</span>
            {% endif %}
        </div>
    {% endif %}
    
    {% if entry.templateContent %}
        <div class="description">
            {{ entry.templateContent | safe }}
        </div>
    {% endif %}
</div>
