{% extends './base.njk' %}


{% block title %}About Me{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/resources/site.css">
{% endblock %}

{% block body %}
  <div class="background"></div>
  <div class="main">
    {{ content | safe }}
  </div>
{% endblock %}
