<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}...{% endblock %} | Luca Vazzano</title>

    {% block head %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#008040">
    <meta name="apple-mobile-web-app-title" content="lucavazzano.eu">
    <meta name="application-name" content="lucavazzano.eu">
    <meta name="msapplication-TileColor" content="#008040">
    <meta name="theme-color" content="#008040">
  </head>
  
  <body>
  	{% block body %}
    {% endblock %}
  </body>
</html>
