{% extends './base.njk' %}

{% block title %}CV{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/resources/print.css">
{% endblock %}

{% block body %}
  {{ content | safe }}
{% endblock %}
