@use "sass:math"

@use './constants' as c

$textColor: c.$veryDark

@use './definitions' with ($textColor: $textColor)
@use './components/heading' with ($textColor: $textColor)
@use './components/cv-header'
@use './components/timeline-entry'
@use './components/utils'


html, body
	padding: 0
	margin: 0
@page
	size: auto
	margin: 1cm 0
@page :first
	margin-top: 0


.main
	margin: 0 #{c.$gap * 2}

	section
		padding-top: c.$gap

		h1
			font-size: 24px
			margin-bottom: math.div(c.$gap, 2)

		.timeline-entry
			break-inside: avoid

	a
		color: rgb($textColor)
		text-decoration: none

	ul
		font-size: 16px

	
// In Chrome's print to pdf, sometimes a weird border appears due to the background-clip to the gradient background
//  Since its apparently a render bug, let's just hide it:
.heading-gradient
	position: relative
	&::after
		content: ""
		position: absolute
		top: -2px
		left: -2px
		width: calc(100% - 5px)
		height: calc(100% - 5px)
		border: white 5px solid
