@use './constants' as c

$textColor: c.$lightGray

@use './definitions' with ($textColor: $textColor)

@use './components/background'
@use './components/heading' with ($textColor: $textColor)
@use './components/button' with ($textColor: $textColor)
@use './components/keyword' with ($textColor: $textColor)
@use './components/utils'
@use './components/entry'
@use './components/hero' with ($textColor: $textColor)
@use './components/menu' with ($textColor: $textColor)


html, body
	height: 100%

	padding: 0
	margin: 0

	overflow-y: scroll
	overflow-x: hidden

.main
	display: flex
	flex-direction: column
	align-items: center

.content
	width: calc(100% - #{c.$gap} * 2)
	max-width: 1440px
	padding: 0 c.$gap


section
	padding-top: c.$gap * 3

	h1
		font-size: 37px

	a
		color: rgb($textColor)
		opacity: 0.9
