<section style="--shade: var(--{{ section.data.shade }});" id="{{ section.data.title | slug }}">
    <h1 class="heading-pointer">
        {{ section.data.title | title }}
    </h1>
    {% block content %}
        content placeholder
    {% endblock %}
</section>
