{% extends './base.njk' %}


{% block content %}
    {%- for entry in collections[section.data.collectionTag] | reverse -%}
        {% include "../timeline-entry.njk" %}
    {%- endfor -%}
{% endblock %}
